uvicorn
fastapi
sqlalchemy
pytz
langchain
python-multipart
python-dotenv
openai
chromadb
tiktoken
pandas
openpyxl
beautifulsoup4
passlib
email-validator
cachetools
python-jose
pandas
openpyxl
beautifulsoup4
psycopg2-binary
qrcode
azure-storage-blob
azure-identity
apscheduler
pinecone-client==2.2.4