uvicorn
fastapi
sqlalchemy
pytz
langchain
python-multipart
python-dotenv
openai == 1.2.4
chromadb
tiktoken
pandas
openpyxl
beautifulsoup4
passlib
email-validator
cachetools
python-jose
pandas
openpyxl
beautifulsoup4
psycopg2-binary
qrcode